{% extends 'base.html' %}
{% block content %}
    <br>
    <div id="title">
      <h1>About me</h1>
    </div>
    <div id="content">
      <p>
        Nama saya Alvin Hariman, lahir di Medan pada tanggal 15 September 2000. Saat kecil, saya sangat menyukai pelajaran matematika. Tetapi ketika memasuki tingkat SMP, saya merasa menjadi lebih tertarik di bidang komputer karena komputer masih berhubungan dengan matematika dan memiliki prospek kerja yang lebih luas.
      </p>
      <p>
       Sejak tahun 2016 saya bekerja sebagai Web Developer di beberapa tempat. Saat ini saya bekerja sebagai freelance web developer, paling sering pada bagian Backend Web Developer, menggunakan PHP sebagai bahasa pemograman utama. Biasanya saya menggunakan Laravel, Wordpress, atau Codeigniter dalam proses kerja. Selain PHP, saat ini saya juga bekerja sebagai semi fullstack dimana saya ikut berkecimpung dalam area frontend developer, menggunakan CSS dan JS secara lebih dalam.
      </p>
      <p>
       Saat ini saya bekerja sebagai fulltime freelance, saya bekerja dengan berbagai macam instansi untuk membangun berbagai macam kebutuhan yang menggunakan website sebagai platform solusinya. Sebagian besar pekerjaan yang dapat adalah dari upwork, saya bersyukur punya kesempatan untuk ikut berkontribusi pada berbagai macam proyek dan startup dari beberapa negara di luar sana, beberapa diantaranya masih berlanjut sampai hari ini menjadi kontraktor tetap.
      </p>
    </div>
{% endblock %}